@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

@import 'normalize';
@import 'ember-paper';

@import '_fonts';

/*
font-family: 'Playfair Display', serif;
font-family: 'Libre Baskerville', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Sumana', serif;
font-family: 'Playfair Display', serif;
*/

$midnightBlue: #2c3e50;
$wetAsphalt: #34495e;
$nephritis: #27ae60; // green
$greenSea: #16a085;

body {
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
}
.hidden { display: none; }

.site-header {
  display: flex;
  justify-content: center;
  position: absolute;
  top:0;
  right:0;
  left:0;
  z-index: 1;

  .site-header__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding:10px;

    .site-header__nav a {
      color: #333;
      font-size:18px;
      padding:3px 2.5vw;
      text-decoration: none;

      &:hover {
        text-decoration:underline;
      }
      &.active {
        // font-weight:bold;
      }
    }

    .logo {
      width:35px;
      padding:5px;
      margin: 0 10px;
      background-color: #333;
      border-radius: 50%;
      box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, .35);

      img {
        display: block;
        max-width: 100%;
      }
    }
  }
}

.stage {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100vw;
  height: calc(100vh);
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, .12);
  background: linear-gradient(to bottom, rgba(0, 0, 0, .12) 0%, rgba(0, 0, 0, .2) 75%,rgba(0, 0, 0, .80) 100%);


  &:after {
    content:'';
    display: block;
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index: -1;
    background: url('images/bg.jpg') no-repeat center center fixed;
    background-size: cover;
  }
}
.stage-overlay {
}
.stage-title {
  color:#fff;
  font-family: 'Open Sans', sans-serif;
  font-size:6vw;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, .5);
  text-transform: uppercase;
  margin:0;
  // transform: translateY(-80%);

  span {
    font-weight: 100;
  }
}
.stage-bodyCopy {
  color:#fff;
  font-family: 'Libre Baskerville', serif;
  margin:0;
  text-align: center;
  font-size:28px;
}

.content-area {
  width:100vw;
  height:500px;
}

.about {
  position: relative;
  width: 100vw;
}
.medicine-wheel {
  position: absolute;
  max-width: 100%;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  filter:blur(0px);
}
.color-line {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  > div {
    width:25%;
    height:20px;
    border-bottom: 1px solid #ccc;

    &:nth-child(1) {
      background-color: #4b4b4b;
    }
    &:nth-child(2) {
      background-color: #fff;
    }
    &:nth-child(3) {
      background-color: #F1FC68;
    }
    &:nth-child(4) {
      background-color: #C94F4F;
    }
  }
}
.about-grid {
  display:grid;
  grid-template-columns: repeat(2, fr);
  grid-gap: 1vh;
  background-color: #fff;

  > div {
    min-height: 50vh;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, .15);

    &:nth-child(1) {
      grid-column: 1 / 3;
      grid-row: 1;
    }
    &:nth-child(2) {
      grid-column: 1;
      grid-row: 2;
    }
    &:nth-child(3) {
      grid-column: 2;
      grid-row: 2;
    }
    // &:nth-child(4) {
    //   grid-column: 2;
    //   grid-row: 2;
    // }
  }
}
.lead-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.lead-in__content {
  display: flex;
  flex-direction: row;

  > div {
    padding:10px 7vw;
    font-size: 18px;
    width: 50%;

    p {
      font-family: 'Playfair Display', serif;
      color:#454545;
    }
  }
}
.lead-in__title {
  font-family: 'Playfair Display', serif;
  color:#333;
  font-size:28px;
}
