<header class="site-header">
  <div class="site-header__content">
    <div class="site-header__nav left">
      {{#link-to 'index'}}Home{{/link-to}}
      {{#link-to 'posts'}}Coaching{{/link-to}}
    </div>
    <div class="logo">
      {{#link-to 'index'}}
        <img src="assets/images/medicine-wheel-small.png" />
      {{/link-to}}
    </div>
    <div class="site-header__nav right">
      {{#link-to 'index'}}Workshops{{/link-to}}
      {{#link-to 'index'}}Contact{{/link-to}}
    </div>
  </div>
</header>
<div class="stage">
  <div class="stage-overlay"></div>
  <div class="stage-text">
    <h2 class="stage-title">Woodstock<span>Dreamer</span></h2>
    <p class="stage-bodyCopy">
      Holding the space for transformation
    </p>
  </div>
</div>
<div class="about">
  <div class="color-line">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class="about-grid">
    <div class="lead-in">
      <h2 class="lead-in__title">"The Wound Makes the Healer"</h2>
      <div class="lead-in__content">
        <div>
          <p>
            Nuno is a Portfolio Manager at an NYC based asset management firm, and a Certified Transformational Coach, by Coaching for transformation NYC.  Nuno studies Nonviolent Communication, Karttikeyan Yogic Method, Kabbalah at the Kabbalah Center NYC, and completed the Landmark Forum Education in NYC.  Most recently, Nuno has completed Dr. Joe Dispenza’s seminar series.
          </p>
        </div>
        <div>
          <p>
            Driven by the depths of his mid-life crisis, Nuno began his spiritual path in 2013, which exposed him to transformational teachings which culminate in his series for Men.  Using his beautiful home in Woodstock, New York, Nuno hosts workshops providing people with the opportunity to “peel away the onion”, and erase their blockages.
          </p>
        </div>
      </div>
    </div>
    <div></div>
    <div></div>
  </div>
</div>
<div class="hidden">
  <div>
    {{paper-input class="flex-30" label="First Name" value=firstName onChange=(action (mut firstName))}}
    {{paper-input class="flex-30" label="Last Name" value=lastName onChange=(action (mut lastName))}}
    {{paper-input class="flex-30" label="Email" value=email onChange=(action (mut email))}}
    <br />
    {{!#paper-button raised=true primary=true onClick=(action "addSubscriber")}}Submit{{!/paper-button}}
  </div>
  <div>
    {{#if showMessage}}
    {{#paper-toast as |toast|}}
    {{#toast.text}}Thanks!{{/toast.text}}
    {{/paper-toast}}
    {{/if}}
  </div>
</div>

{{outlet}}
