<div class="stage">
  <div class="stage-bg"></div>
</div>


{{outlet}}

<ul class="hidden">
  <li>
    {{#link-to 'index'}}Home{{/link-to}}
  </li>
  <li>
    {{#link-to 'posts'}}Posts{{/link-to}}
  </li>
</ul>
